@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-50: #e5f8f7;
  --color-primary-100: #cceff0;
  --color-primary-200: #99dfde;
  --color-primary-300: #66cfcc;
  --color-primary-400: #33bfb9;
  --color-primary-500: #00afa7; /* Primary color */
  --color-primary-600: #009d96;
  --color-primary-700: #008a84;
  --color-primary-800: #007872;
  --color-primary-900: #005c56;
  --color-primary-950: #003f3c;
}
html {
  font-size: 10px; /* Changes root font size */
}

.section-padding {
  @apply 2xl:py-16 2xl:px-56 md:py-12 md:px-40  py-8 px-12;
}

.section-padding-sm {
  @apply 2xl:px-56 md:py-4 md:px-40 py-8 px-12;
}

.primary-btn {
  @apply bg-[var(--color-primary-500)] px-4 py-2 inline;
}

.primary-heading {
  @apply 2xl:text-12xl xl:text-7xl lg:text-5xl text-4xl font-poppins font-bold text-text-teal lg:text-left text-center;
}

.gradient-1 {
  position: absolute;
  inset: 0; /* Full coverage */
  background: linear-gradient(
    135deg,
    var(--color-primary-950),
    var(--color-primary-800)
  );
  background-size: cover; /* Ensures the image covers the entire section */
  background-position: center;
  background-repeat: no-repeat;
}

.hero-bg {
  background-image: url("../../public/images/hero-img.jpg");
  animation: bg 10s infinite alternate linear;
}

.mirror-bg {
  position: relative;
  background: rgba(255, 255, 255, 0.21);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
}

/* Abous us */
.about-us {
  @apply lg:text-16xl md:text-10xl text-4xl font-poppins text-black font-black tracking-[1rem];
}

.about-us-bg1 {
  background-image: url("../../public/images/ab-1.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-us-bg2 {
  background-image: url("../../public/images/ab-2.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Services */
.left-container {
  @apply sticky top-0 h-screen flex justify-center items-center border-r border-gray-300  w-2/5 section-padding;
}

/* Animations */
@keyframes bg {
  0% {
    background-position: 36% 42%;
    background-size: 200%;
  }

  20% {
    background-position: 30% 35%;
    background-size: 200%;
  }

  20.001% {
    background-position: 30% 85%;
    background-size: 200%;
  }

  40% {
    background-position: 49% 81%;
    background-size: 200%;
  }

  40.001% {
    background-position: 80% 42%;
    background-size: 200%;
  }

  60% {
    background-position: 84% 33%;
    background-size: 200%;
  }

  60.001% {
    background-position: 0% 0%;
    background-size: 200%;
  }

  80% {
    background-position: 15% 4%;
    background-size: 200%;
  }

  80.001% {
    background-position: 80% 10%;
    background-size: 200%;
  }

  100% {
    background-position: 36% 42%;
    background-size: 200%;
  }
}
